{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $work_email := promptStringOnce . "work_email" "Work Email address (Leave empty if not a work machine)" -}}
{{- $work_name := promptStringOnce . "work_name" "Work Company Name (Leave empty if not a work machine)" -}}

[data]
workf = {{ promptBoolOnce . "workf" "Is this a work (f) machine?" }}
workz = {{ promptBoolOnce . "workz" "Is this a work (z) machine?" }}
desktop = {{ promptBoolOnce . "desktop" "Is this a desktop as opposed to a laptop?" }}
threedprinter = {{ promptBoolOnce . "threedprinter" "Is this going to do 3d Printer stuff?" }}
email = {{ $email | quote }}
work_email = {{ $work_email | quote }}
work_name = {{ $work_name | quote }}

encryption = "age"
[age]
  identity = "~/.age/identity"
  recipient = "age1yubikey1qgsrfvrwclnf87rne39ye7kn7zhy5p8r08ez7ha9tgfncp5s7ukekv8qv7p"
