[tools]
awscli = "2.17.17"
rust = "latest"
golang = "latest"
nodejs = "latest"
nomad = "latest"
python = "3.12.4"
"ubi:str4d/age-plugin-yubikey" = "latest"
{{ if eq .chezmoi.os "darwin" }}
"ubi:FiloSottile/age" = "latest"
{{ end }}
aws-vault = "latest"
direnv = "latest"
"ubi:https://github.com/goss-org/goss/releases/download/v0.4.8/dgoss" = "v0.4.8"
goss = "latest"
helm = "latest"
gcloud = "latest"
k9s = "latest"
kubeconform = "latest"
kubectl = "latest"
kubectx = "latest"
kubent = "latest"
kustomize = "latest"
powerline-go = "latest"
pre-commit = "latest"
talosctl = "1.10.6"
vault = "latest"
viddy = "latest"
yq = "latest"
jless = "latest"
ripgrep = "latest"
