[tools]
awscli = "latest"
rust = "latest"
golang = "latest"
nodejs = "latest"
nomad = "latest"
python = "latest"
{{ if eq .chezmoi.os "linux" }}
"ubi:str4d/age-plugin-yubikey" = "latest"
{{ end }}
{{ if eq .chezmoi.os "darwin" }}
"ubi:FiloSottile/age" = "latest"
age-plugin-yubikey = "latest"
{{ end }}
aws-vault = "latest"
direnv = "latest"
helm = "latest"
gcloud = "latest"
k9s = "latest"
kubeconform = "latest"
kubectl = "latest"
kubectx = "latest"
kubent = "latest"
kustomize = "latest"
powerline-go = "latest"
pre-commit = "latest"
talosctl = "1.7.5"
vault = "latest"
viddy = "latest"
yq = "latest"

