[color]
  ui = true
[commit]
  verbose = true
[diff]
  renameLimit = 3000

[commit]
  verbose = true

[core]
  excludesfile = ~/.gitignore
  safecrlf = true
  editor = vim

[mergetool]
  keepBackup = true

[push]
  default = current

[include]
  path = ~/.gitaliases
[user]
  email = {{ .chezmoi.config.data.email }}
  name = Mark Young
	signingkey = BE13958D157CDC07
[includeIf "gitdir:~/work/zoom/"]
    path = ~/.work_gitconfig
[includeIf "gitdir:~/work/fastly/"]
    path = ~/.work_gitconfig
{{ if .workf -}}
[url "git@github.com:{{ .chezmoi.config.data.work_name | lower }}"]
  insteadof = https://github.com/{{ .chezmoi.config.data.work_name | lower }}
{{- end }}
[init]
  defaultBranch = main
