[color]
  ui = true
[commit]
  verbose = true
[diff]
  renameLimit = 3000

[commit]
  verbose = true

[core]
  excludesfile = ~/.gitignore
  safecrlf = true
  editor = vim

[mergetool]
  keepBackup = true

[push]
  default = current

[include]
  path = ~/.gitaliases
[user]
  email = {{ .chezmoi.config.data.email }}
  name = Marcus Young
