Include /Users/marcus.young/.ssh/conductor_config


{{ if .workmw -}}
Include ~/.ssh/work
Host i-*
      ProxyCommand sh -c "aws --region us-east-2 ssm start-session --target %h --document-name AWS-StartSSHSession --parameters 'portNumber=%p'"
{{- end }}

Host seedbox
  HostName lt5-1-87vecchio.pulsedmedia.com
  User vilpengu
  IdentityFile ~/.ssh/seedbox

Host bignasty* 192.168.3.2
  User myoung
  IdentityFile ~/.ssh/bignasty

Host github.com
  User myoung34
  IdentityFile ~/.ssh/github
